.title {
    font-size: 30px;
    position: relative;
    float: center;
    text-align: center;
    margin-top: 670px;
    font-family: montserrat, sans-serif;
}

.body {
    font-size: 14px;
    margin-top: 1.25%;
}

.github-mark-contact {
    margin-right: 4%;
    margin-left: 4.2%;
    margin-top: 2%;
    margin-bottom: 3%;
    height: 46px;
    width: auto;
}

.linkedin-logo {
    height: 50px;
    width: auto;
    margin-bottom: 3%;
    margin-top: 2%;

}


.email-icon {
    position: relative;
    height: 48px;
    width: auto;
    margin-bottom: 3%;
    margin-top: 2%;
    right: 2px;
}