.title {
    font-size: 25px;
    position: relative;
    float: center;
    text-align: center;
    margin-top: 500px;
}

.body {
    font-size: 14px;
}

.github-mark-contact {
    margin-right: 20px;
    margin-left: 20px;
    height: 40px;
    width: auto;
    margin-bottom: 490px;

}

.linkedin-logo {
    height: 40px;
    width: auto;
    margin-bottom: 490px;

}

.email-icon {

    height: 40px;
    width: auto;
    margin-bottom: 490px;

}