.title {
    font-size: 25px;
    position: relative;
    float: center;
    text-align: center;
    margin-top: 600px;
}

.body {
    font-size: 14px;
}

.github-mark-contact {
    margin-right: 2%;
    margin-left: 2%;
    height: 40px;
    width: auto;
    margin-bottom: 15%;
}

.linkedin-logo {
    height: 40px;
    width: auto;
    margin-bottom: 15%;
}

.email-icon {
    height: 40px;
    width: auto;
    margin-bottom: 15%;
}