.navigation {
    background-color: #ffffff;
    color: #ffffff;
  }
  .nav-link {
    color: #613dc1 !important;
    font-family: montserrat, sans-serif;
  }
  .nav-link:hover {
    color: #d0d1ff !important;
  }
