.navigation {
    background: linear-gradient(90deg, #ACF6CA, #3C9169);
  }

.navbar-text{
    color: #ffffff !important;
    font-size: 22px;
    font-family: Verdana, sans-serif;
    letter-spacing: 3px;
    text-transform: none;
}
  .nav-link {
    color: #ffffff !important;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
  .nav-link:hover {
    color: gray !important;
  }

.svg {
  position: relative;
  top: 64px;
  margin-bottom: 65px;
}