.navigation {
    background-color: #83c5be;
    color: #000000;
  }

.navbar-text{
    color: #ffffff !important;
    font-size: 22px;
    font-family: oswald, sans-serif;
}
  .nav-link {
    color: #e29578 !important;
    font-family: montserrat, sans-serif;
    font-size: 16px;  
}
  .nav-link:hover {
    color: #ffddd2 !important;
  }
