.section-title {
    color: #000000;
    text-align: center;
    font-size: 40px;
    margin-top: 19.7%;
}

.project-title{
    color: #000000;
    text-align: left;
    font-size: 20px;
    float: left;
    margin-left: 25px;
    
}

.project-subtitle {
    color: grey;
    font-size: 14px;
    margin-top: -15px !important;
}

.link-logo {
    position: absolute;
    right: 45px;
    width: 49px;
    height: auto;
    margin-right: 15px;
}
.github-mark {
    position: relative;
    float: right;
    right: 8px;
    width: 45px;
    height: auto;
}

.description {
    float: left;
    color: #000000;
    text-align: left;
    font-size: 14px;
    margin-right: 50px;
}

.pp-photo {
    float: right;
    width: 300px;
    height: auto;
    padding: 10px;
}