.section-title {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-top: 33%;
}

.project-title{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    margin-left: 15px;
}
.photo {
    float: left;
    width: 500px;
    height: auto;
}
.sos-wa {
    float: right;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}

